# Don't print a new line at the start of the prompt
add_newline = false

# Replace the "â¯" symbol in the prompt with "âœ"
[character]      # The name of the module we are configuring is "character"
success_symbol = "[ğº](bold green)"     # The "symbol" segment is being set to "ğº"
error_symbol = "[ğº](bold red)"

